<dom-module id="list-view">
  <template>
    <style>
      :host {
        display: block;
        height: 100%;
        @apply(--layout-vertical);
      }

      .main {
        @apply(--layout-flex);
        @apply(--layout-scroll);
      }

      .action:first-child {
        margin-right: 8px;
      }

      iron-icon {
        color: var(--google-grey-500);
      }

      .avatar {
        display: inline-block;
        box-sizing: border-box;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: var(--paper-amber-500);
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        line-height: 40px;
      }
      .avatar:before {
        content: "$";
      }

      .blue {
        background-color: var(--paper-light-blue-300);
      }
    </style>
    <paper-icon-button id="button"></paper-icon-button>
    <div class="main">      
      <template is="dom-repeat" items="[[data]]">
        <paper-icon-item>
          <div class="avatar blue" item-icon>[[item.price]]</div>
          <paper-item-body two-line>
            <div>[[item.title]]</div>
            <div secondary>[[item.location]]</div>
          </paper-item-body>
          <paper-icon-button class="action" icon="create" id="edit" on-click="editStudy"></paper-icon-button>
          <paper-icon-button class="action" icon="delete" id="delete" on-click="deleteStudy"></paper-icon-button>
        </paper-icon-item>
      </template>
    </div>
  </template>
</dom-module>
<script>

  Polymer({

    is: 'list-view',

    behaviors: [
      Polymer.NeonAnimatableBehavior
    ],

    listeners: {
      'click': '_onClick'
    },

    properties: {

      data: {
        type: Array,
        value: function() {
          return [];
        }
      },

      animationConfig: {
        type: Object,
        value: function() {
          return {
            'entry': [{
              name: 'fade-in-animation',
              node: this.$.button
            }],

            'exit': [{
              name: 'fade-out-animation',
              node: this.$.button
            }, {
              name: 'hero-animation',
              id: 'hero',
              fromPage: this
            }]
          };
        }
      }

    },
    editStudy: function(event) {      
      var $modelItem = event.model.item
    },
    deleteStudy: function(event) {      
      var $modelItem = event.model.item
      var $that = this;
      if($modelItem &&confirm('Are you sure you want to delete '
       + $modelItem.title + ' study?')) {
        $modelItem.token = localStorage.getItem("token");
        $.ajax({
          url:"/api/experimenter/studies/delete",
          data: JSON.stringify($modelItem),
          contentType: "application/json",
          method: "POST"
        }).done(function(msg){
          if(msg.success) { 
            $that.parentElement.domHost.showMsg('success', 'Study was deleted successfully!');
            $that._removeBusinessDom($modelItem._id);
          } else {
            $that.parentElement.domHost.showMsg('error', 'Study deletion failed!');            
          }          
        }).fail(function(err){
          console.log(err);
        });
      }
    },
    _removeBusinessDom: function(id) {      
      for(var i = 0; i < this.data.length; i++) {
        if(this.data[i]._id == id) {
          this.splice("data", i, 1);
          break;
        }
      }    
    },
    _onClick: function(event) {
      var target = event.target;      
      while (target !== this && !target._templateInstance) {
        target = target.parentNode;
        if(target.className.indexOf('action') != -1)
          return;
      }

      // configure the page animation
      this.sharedElements = {
        'hero': target,
      };

      this.fire('item-click', {
        item: target,
      });
    }

  });

</script>
